<body>

  <!-- Header -->
  <header id="about-header">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2" id="about">Diagon Alley</h1>
          <p class="lead mb-5 text-white-50">Diagon Alley is a cobblestoned wizarding alley and shopping area. Inside the alley is an assortment of restaurants, shops, and other sights. All items on the Hogwarts supply list can be bought at Diagon Alley. The
            alley is completely hidden from the Muggle world which is right outside of its boundaries. It is very large in area and essentially the centre of wizarding London.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row" id="about">
      <div class="col-md-8 mb-5">
        <h2>Amenities</h2>
        <hr>
        <div class="row amenities">
          <div class="col-md-8">
            <p>
              <i class="icon-money"></i>
              ATM</p>
            <p>
              <i class="icon-eur"></i>
              Currency Exchange Stations</p>
            <p><i class="icon-building"></i> Management Office</p>
            <p>
              <i class="icon-shopping-cart"></i>
              Shopping Carts</p>
            <p>
              <i class="icon-female"></i>
              <i class="icon-male"></i>
              Restrooms</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Diagon Alley</strong>
          <br>Leaky Cauldron Rear Courtyard Entrance
          <br>Gracechurch St, London UK
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (020) 052-1998
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">help@diagonalley.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
