<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Three Broomsticks Inn</h5>
          <p class="card-text">Popular inn and pub offering the world famous Butterbeer by owner Madam Rosmerta.</p>
          <div class="card-footer">
            <i class="icon-map-marker"></i>
            HOGSMEADE
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-dark btn-sm btn-block" data-toggle="modal" data-target="#menuModal">
              Menu
            </button>
          </div>
          <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="menuModalLabel">Three Broomsticks Menu</h5>
                  <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6>Entrees</h6>
                  <ul>
                    <li>Cornish Pasties with Garden Salad: $9.99</li>
                    <li>Shepherd's Pie with Garden Salad: $12.49</li>
                    <li>Fish and Chips: $13.99</li>
                    <li>Smoked Turkey Leg with Wedge Fries: $14.99</li>
                  </ul>
                  <h6>Soups And Salads</h6>
                  <ul>
                    <li>Split Pea and Ham Soup and Side Salad: $9.49</li>
                    <li>Rotissere Smoked Chicken Salad: $9.99</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hog's Head Inn</h5>
          <p class="card-text">Slightly dodgy inn and pub owned by Aberforth Dumbledore.</p>
          <div class="card-footer">
            <i class="icon-map-marker"></i>
            HOGSMEADE
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Leaky Cauldron</h5>
          <p class="card-text">Popular pub and inn that serves as a gateway between the non-wizarding world and Diagon Alley.</p>
          <div class="card-footer">
            <i class="icon-map-marker"></i>
            DIAGON ALLEY
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Honeydukes</h5>
          <p class="card-text">Sweet shop with shelves upon shelves of the most succulent-looking sweets imaginable</p>
          <div class="card-footer">
            <i class="icon-map-marker"></i>
            HOGSMEADE
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
