
<div class="container">
  <div class="row">
  <div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Three Broomsticks Inn</h5>
      <p class="card-text">Popular inn and pub offering the world famous Butterbeer by owner Madam Rosmerta.</p>
      <div class="card-footer">
        <a href="#"><i class="icon-map-marker"></i> HOGSMEADE</a>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hog's Head Inn</h5>
      <p class="card-text">Slightly dodgy inn and pub owned by Aberforth Dumbledore.</p>
      <div class="card-footer">
        <a href="#"><i class="icon-map-marker"></i> HOGSMEADE</a>
      </div>    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Leaky Cauldron</h5>
      <p class="card-text">Popular pub and inn that serves as a gateway between the non-wizarding world and Diagon Alley.</p>
      <div class="card-footer">
        <a href="#"><i class="icon-map-marker"></i> DIAGON ALLEY</a>
      </div>    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Honeydukes</h5>
      <p class="card-text">Sweet shop with shelves upon shelves of the most succulent-looking sweets imaginable</p>
      <div class="card-footer">
        <a href="#"><i class="icon-map-marker"></i> HOGSMEADE</a>
      </div>    </div>
  </div>
</div>
</div>
</div>
