<div class="container regular-hours">

  <h2 class="header-md hours-header">Regular Hours</h2>

  <div class="hour">
    <div class="hour-day bold">
      Monday - Sunday
    </div>
    <div class="hour-time">
      Open 9:00AM–9:00PM
    </div>

  </div>

</div>
