<div class="jumbotron new">
  <div class="container">
    <h1>What's New</h1>
    <p class="news">Discover the latest deals, events and store openings</p>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">This Weeks Ad</h2>
    </div>
    <blockquote class="imgur-embed-pub" lang="en" data-id="EV0lAhj">
      <a href="https://imgur.com/EV0lAhj"></a>
    </blockquote>
    <script async="async" src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
  </div>
</div>
