<body class="text-center">
  <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> -->
    <!-- <video autoplay="autoplay" muted="muted" loop="loop" src="assets/magic.mp4" class="home_video"></video> -->

    <div class="jumbotron home">
    <div class="container">
    <main role="main" class="inner cover">
      <div>
        <h1 class="cover-heading home">Diagon Alley Shopping Center</h1>
        <h6>Located in London, England behind the Leaky Cauldron pub</h6>
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm-8">
          <p class="lead">Diagon Alley is a cobblestoned wizarding alley and shopping area. Inside the alley is an assortment of restaurants, shops, and other sights. All items on the Hogwarts
            supply list can be bought at Diagon Alley. The alley is completely hidden from the Muggle world which is right outside of its boundaries. It is very large in area and essentially the centre of wizarding London.</p>
          <p class="lead">
            <a href="/stores" class="btn btn-lg btn-secondary">Alohomora</a>
          </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </main>
    </div>
    </div>

  <!-- </div> -->

</body>
