<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <video autoplay muted loop src="assets/magic.mp4" class="home_video"></video>

  <main role="main" class="inner cover">
    <h1 class="cover-heading home">Diagon Alley</h1>
    <p class="lead">Diagon Alley is a cobblestoned wizarding alley and shopping area located in London, England behind a pub called the Leaky Cauldron. Inside the alley is an assortment of restaurants, shops, and other sights. All items on the Hogwarts supply list can be bought at Diagon Alley. The alley is completely hidden from the Muggle world which is right outside of its boundaries. It is very large in area and essentially the centre of wizarding London.</p>
    <p class="lead">
      <a href="/stores" class="btn btn-lg btn-secondary">Alohomora</a>
    </p>
  </main>

</div>


</body>
