<body class="text-center">
  <!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> -->
  <!-- <video autoplay="autoplay" muted="muted" loop="loop" src="assets/magic.mp4" class="home_video"></video> -->

  <div class="jumbotron home">
    <div class="container">
      <main role="main" class="inner cover">
        <div>
          <h1 class="cover-heading home">Diagon Alley Shopping Center</h1>
          <h6>Located in London, England behind the Leaky Cauldron pub</h6>
        </div>
      </main>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-8">
        <img src="https://orlandoinformer.com/wp-content/uploads/2016/05/DSC_0910-Edit_1-Edit_2-Edit_3-Edit_fused-5.jpg" height="300" width="450">
        <hr>
        <a href="/stores" class="btn btn-outline-secondary btn-lg btn-block" id="open">Alohomora</a>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  <!-- </div> -->

</body>
