<div class="container">
  <div class="row">
    <% @restaurants.each do |rest| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= rest.name %></h5>
            <p class="card-text"><%= rest.description %></p>
            <div class="card-footer">
              <i class="icon-map-marker"></i>
              <%= rest.location %> | <%= link_to 'Menu', rest.menu, :target => "_blank" %>
            </div>
            <!-- <div class="text-center">
              <button type="button" class="btn btn-dark btn-sm btn-block" data-toggle="modal" data-target="#menuModal">
                Menu
              </button>
            </div>
            <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="menuModalLabel">Three Broomsticks Menu</h5>
                    <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body"></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
