/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
}

body.text-center {
  background-color: #07252f;
}

/* HOME */
.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -2;
}

.home-video-wrapper {
  height: 100vh;
  display: flex;
}

h1.home {
  color: white;
  text-align: center;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
}

p.lead {
  font-size: 16px;
  color: white;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
}

div.col-sm-8 {
  padding-top: 40px;
}

div.jumbotron.home {
  background-color: #003e51;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

a#open.btn-outline-secondary:hover {
    font-style: oblique;
    color: #07252f;
    background-color: #ffc500;
    border-color: #ffffff;
}

h6 {
  font-style: italic;
}

div#nav.container {
  background-color: white;
  max-width: -webkit-fill-available;
}

a.navbar-brand {
  font-family: 'Henny Penny', cursive;
}

.navbar, a.navbar-brand i {
  color: #ffc500;
}

i.icon-hand-up {
  text-decoration: none;
}

.shopLogo {
  font-family: cursive;
  margin: auto;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

/* HOURS */
#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hour {
  padding: 19.151px 0;
  padding: 1.10833rem 0;
  border-bottom: 1px solid #757575;
  border-top: 1px solid #757575;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hour-day, .hour-time {
  flex: 1 0 33.333%;
}

div.container.regular-hours {
  max-width: 720px;
  padding-top: 20px;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
}

.container-fluid {
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
}

.hours-header {
  font-size: 1.33rem;
}

h1.jumbotron-title.header-md {
  text-align: center;
}

/* NEWS AND EVENTS */
h1.display-3 {
  font-size: 48px;
}

p.news {
  font-size: 24px;
}

div.container.news {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
}

div.jumbotron.news {
  background: #333;
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: white;
}

#dark {
  font-family: 'Bad Script', cursive;
  font-size: 1rem;
  color: #cd2626;
}


/* MAP */
iframe {
  display: block;
  margin: auto;
  padding: 20px;
}

/* ABOUT */
#about {
  font-family: "Magorian Regular", Georgia, Times, "Times New Roman", serif;
  padding-top: 40px;
}

#about-header {
  background-color: #500c0c;
}

div.row.amenities {
  margin-left: 0;
}

/* DINING */
div.container.dining {
  padding-top: 30px;
}

#menu a {
  color: white;
}

#menu a:hover {
  text-decoration: none;
}
/* FOOTER */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-variant-caps: all-small-caps;
  font-family: 'henny penny';
}

.icon-hand-up:before {
  color: black;
  content: "\f0a6";
}
