/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* VIDEO */
.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.home-video-wrapper {
height: 100vh;
display: flex;
}
h1.home {
  color: white;
  text-align: center;
  font-family: 'Henny Penny', cursive;
}

p.lead {
  color: white;
}

.table {
  font-family: -webkit-pictograph;
  background-color: #7f0909;
  color: #ffc500;
}

thead, td, td a {
  color: #ffc500;
}

div.container {
  background-color: white;
  max-width: -webkit-fill-available;
}

a.navbar-brand {
  font-family: 'Henny Penny', cursive;
}

.navbar, a.navbar-brand i {
  color: #ffc500;
}

i.icon-hand-up {
  text-decoration: none;
}

.shopLogo {
  font-family: cursive;
  margin: auto;
  width: 50%;
  border: 3px solid gray;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

/* MAP */
iframe {
  display: block;
  margin: auto;
  padding: 20px;
}

/* FOOTER */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-variant-caps: all-small-caps;
  font-family: 'henny penny';
}

.icon-hand-up:before {
  color: black;
  content: "\f0a6";
}
